<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
  </h5>

    <nav class="d-inline-flex mt-4 mt-md-0 ms-md-auto mr-4">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
      <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a>
    </nav>
    <a class="btn btn-outline-primary" href="#"> Sign up</a>
  </div>