

table {

    text-align: center !important;
    width: 100%;
    margin-left: -6px;
  } 
  th{
      text-align: center !important;
      font-weight: bold;
      font-size: 1rem;
      color: black;
      background: white;
  } 


/*Table */
